page-login {

  .warning {
      position: absolute;
      // padding: 20% 0;
      height: 100%;
      width: 100%;
    // background: rgba(0,0,0,0.65);
      //backdrop-filter: contrast(4) blur(20px);
  }

  #outer{
      // background: url("../assets/imgs/efast_Login_Screen.png") no-repeat center center;
      // background-repeat:no-repeat;
      // background-size:contain;
      // position:fixed;
      // top:0;
      // left:0;
      // width:100%;
      // height:100%;
      // text-align: center;
  background: url(../assets/imgs/efast_Login_Screen.png) no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-repeat: round;
  background-position-x: top;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  }
  .btnLog {
    width: 60%;
    height: 46px;
    border-radius: 30px;
  }

  .logo {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      width: 45%;
      height: 18%;
      margin: 30% auto 7px  auto;
      text-align: center;

      img {
          height: 120px;
      }
  }

  .logitem {
      background-color: transparent;
      padding-bottom: 5px;

      ion-input {
          color: black;
          ::placeholder {
              color: black;
          }
      }
      border: 2px solid rgba(255, 255, 255, 0.842);
      border-radius: 5px;
  }
  .logitem1 {
      background-color: transparent;

      p {
          color: #ea6153;
          margin: 0;
          padding: 0;
      }
  }
  .temp{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  ion-input {
      background-color: transparent;
      // padding: 5px 10px;
      // border: 2px solid rgba(255, 255, 255, 0.842);
      // border-radius: 5px;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
      padding-right: 8px;
      border: none;
  }

  .btnDiv {
      padding-left: 9px;
      padding-right: 11px;
  }

      .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}
}
